Package: com.nexus.enhanced
Name: NEXUS Enhanced Hacker
Version: 1.0.0
Architecture: iphoneos-arm
Description: Advanced iOS Research Framework for Wuthering Waves (UE4)
Maintainer: Research Team
Section: Tweaks
Depends: mobilesubstrate
